<% content_for :title, "Around The World" %>
<link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
<div id="aroundtheworld">
    <div id="description">
        <h2>The Free Sailors Den Consortium</h2>
        <h2>cordially invites you to:</h2>
        <br>
        <h1>Around The World!</h1>
        <br>
        <h2>Where:</h2>
        <h3>The 4th Floor</h3>
        <h3>487 Commonwealth Ave, Boston, MA</h3>
        <br>
        <h2>When:</h2>
        <h3>Thursday, June 24th, 9:30PM</h3>
        <br>
        <h3>Please text 203.915.6395 when you arrive.</h3>
        <h3>Featuring drinks from the North Pole, 'Murica, Eastern Asia, and Latin America.</h3>
        <h3>Free to come, $4 to party, please venmo the number above</h3>
        <h3> Dress code: Cultural Pride, Nothing To Hide</h3>
    </div>
</div>
