<div id="bunko">
  <div id="backer">
    <div class="masthead">
      <h3 class="muted">Bunko Cruise</h3>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Locations</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.navbar -->
    </div>
  </div>
</div>
