<% content_for :title, "Summer Formal" %>
<link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
<div id="formal">
    <div id="description">
        <h2>The Free Sailors Den Consortium</h2>
        <h2>cordially invites you to:</h2>
        <br>
        <h1>Summer Formal!</h1>
        <br>
        <h2>Where:</h2>
        <h3>Puzzles Bar</h3>
        <h3>487 Commonwealth Ave, Boston, MA</h3>
        <br>
        <h2>When:</h2>
        <h3>Thursday, August 14th, 9:30PM</h3>
        <br>
        <h3>Dress Code: Formal and with a date, strictly enforced.</h3>
        <h3>Seriously, we're not letting you in without formal attire and a date.</h3>
        <h3>Free to come, $4 to party, please venmo the number below. Bringing pennies is recommended.</h3>
        <h3>Please text 516.640.6221 when you arrive.</h3>
    </div>
</div>
