<div class="frame">
    <iframe id="iframe" src="http://www.strikingly.com/jhaimson" autofocus="true">Your browser doesn't support iFrames</iframe>
</div>

<script>
    document.getElementById('iframe').focus();
</script>
