<div class="container">
  <div class="spacer"></div>
	<div class="row">
		<div class="span6 offset3">
			<div id="text1" class="text">hi mom</div>
			<div id="group2">
				<div id="text2" class="text">just wanted to take some time</div>
				<div id="text3" class="text">to wish you a very</div>
				<div id="text4" class="text">very</div>
				<div id="text5" class="text">happy mother's day</div>
				<div id="smiley" class="text"><%= image_tag("smiley.jpg", size: "300x300") %></div>
			</div>
			<div id="group3">
				<div id="text6" class="text">i love you</div>
				<div id="text7" class="text">and i can't wait to see you in</div>
				<div id="text8" class="text">INSERT COUNTDOWN</div>
			</div>
			<div id="group4">
				<div id="text9" class="text">i can't give you a gift in person</div>
				<div id="text10" class="text">but click the box below to see your virtual gift</div>
				<div id="cover" class="text"></div>
				<div id="puppies" class="text" align="left"><iframe width="560" height="315" src="http://www.youtube.com/embed/YxhtawThGBc" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>
</div>

<script>

$(".text").hide();
$("#text1").delay(1000).fadeIn().delay(2000).fadeOut(500);

$("#text2").delay(4000).fadeIn();
$("#text3").delay(5000).fadeIn();
$("#text4").delay(6000).fadeIn().delay(1000).animate({fontSize:'40px'},"fast");
$("#text5").delay(8000).fadeIn();
$("#smiley").delay(8000).fadeIn();

$("#group2").delay(10000).fadeOut(500);
$("#text6").delay(11000).fadeIn();
$("#text7").delay(12000).fadeIn();
$("#text8").delay(13000).fadeIn();

$("#group3").delay(19000).fadeOut(500);
$("#text9").delay(20000).fadeIn();
$("#text10").delay(21000).fadeIn();
$("#cover").delay(22000).fadeIn();
$("#cover").click( function() { $("#cover").animate({top:"+=400px"},"slow"); } )
$("#puppies").delay(22500).fadeIn();

function countdown() {
	var now = new Date();
	var d = new Date("May 23, 2013 12:00:00");
	var msec = d - now;
	var hh = Math.floor(msec / 1000 / 60 / 60);
	msec -= hh * 1000 * 60 * 60;
	var mm = Math.floor(msec / 1000 / 60);
	msec -= mm * 1000 * 60;
	var ss = Math.floor(msec / 1000);
	msec -= ss * 1000;
  $("#text8").text(hh + " hours, " + mm + " minutes, and " + ss + " seconds");  
}

$(document).ready(function(){
  setInterval(function() { countdown(); }, 1000);
});

</script>
