<% content_for :title, "Puzzles the Bar - Grand Opening" %>
<link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
<div id="puzzlesbar">
    <div id="description">
        <h2>The Free Sailors Den Consortium</h2>
        <h2>cordially invites you to:</h2>
        <br>
        <h1>Puzzles Bar - Grand Opening!</h1>
        <br>
        <h2>Where:</h2>
        <h3>Puzzles</h3>
        <h3>487 Commonwealth Ave, Boston, MA</h3>
        <br>
        <h2>When:</h2>
        <h3>Thursday, June 24th, 9:30PM</h3>
        <br>
        <h3>Please text 206.795.6448 when you arrive.</h3>
        <h3>This week's drink: <a href="http://celebratinghomewithkarieengels.files.wordpress.com/2013/02/blog-mojito-in-the-tropics.jpg"><span id="mojito">Mojitos</span></a>. Free to come, $4 to party, please venmo the number above</h3>
        <h3> Dress code: Classy yet Sassy.</h3>
        <h3>Whats the puzzle? Yes.</h3>

    </div>
</div>
