<% content_for :title, "Wine And Cheese" %>
<link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
<div id="winecheese">
    <div id="description">
        <h2>The Free Sailors Den Consortium</h2>
        <h2>cordially invites you to:</h2>
        <br>
        <h1>Wine and Cheese</h1>
        <br>
        <h2>Where:</h2>
        <h3>The Boathouse</h3>
        <h3>487 Commonwealth Ave, Boston, MA</h3>
        <br>
        <h2>When:</h2>
        <h3>Thursday, June 10th, 10PM</h3>
        <br>
        <h3>Please text 860.502.9766 when you arrive.</h3>
        <h3>Bringing your own wine is encouraged.</h3>
        <h3>Attire: business on top, party on bottom.</h3>

    </div>
</div>
