<% content_for :title, "Yoga Pants and High Finance | The Boathouse" %>
<link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
<div id="yogafinance">
    <div id="description">
        <h2>The Free Sailors Den Consortium</h2>
        <h2>cordially invites you to:</h2>
        <br>
        <h1>Yoga Pants and High Finance</h1>
        <br>
        <h2>Where:</h2>
        <h3>The Boathouse</h3>
        <h3>487 Commonwealth Ave, Boston, MA</h3>
        <br>
        <h2>When:</h2>
        <h3>Thursday, June 17th, 9PM</h3>
        <br>
        <h3>Please text 860.502.9766 when you arrive.</h3>
        <h3>This week's drink: <a href="http://cdn.forknplate.com/wp-content/uploads/2013/05/Cosmo.jpg"><span id="cosmo">Cosmopolitans</span></a></h3>
        <h3>Dress Code: Self explanatory, compliance required to maintain our friendship</h3>

    </div>
</div>
