// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text {
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
  line-height: 110%;
}

.spacer {
  margin-top: 80px;
}

#puppies {
  position: absolute;
  width: 560px;
  height: 315px;
  margin-left:-560px;
  left:50%;
  top:250px;
}

#cover {
  position: absolute;
  width:600px;
  height:350px;
  margin-left:-300px;
  left:50%;
  top:230px;
  background: #bbb;
  z-index:2;
}
